@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  background-color:#F0F0F0 ;
}
textarea {
  resize: none;
}


input::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 13;
}

textarea::-webkit-input-placeholder {
  font-size: 20px;
  
}